<div>
    <mat-toolbar color="primary">
      <span><mat-icon>mood</mat-icon></span>
  
      <span>MineGames Players Portal</span>
  
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>
    <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item>Option 1</button>
      <button mat-menu-item>Option 2</button>
    </mat-menu>
  
    <span class="done">
      <button mat-fab>
        <mat-icon>check circle</mat-icon>
      </button>
    </span>
  </div>

<mat-card> 
    <mat-card-title>Userinfo</mat-card-title>
    <mat-card-subtitle>
      {{username}}
    </mat-card-subtitle>
</mat-card>

<mat-card>
  <mat-card-title>API-M Call</mat-card-title>
    <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor"let player of players" >
              {{player.id}}  {{player.nome}}  {{player.email}}
              </mat-list-item>
        </mat-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Token Info</mat-card-title>
  <mat-card-content>
      <mat-list role="list">
          <mat-list-item role="listitem">Access Token: {{accessToken}} is valid? {{validAccessToken}}</mat-list-item>
          <mat-list-item role="listitem">AId Token: {{idToken}} is valid? {{validIdToken}}</mat-list-item>
          <mat-list-item role="listitem">Id Token: {{jsonIdToken}}</mat-list-item>
      </mat-list>
  </mat-card-content>
</mat-card>

<button mat-raised-button (click)="refreshToken()">Refresh Token</button>
